.letter-splitter {
    padding: 3px 12px;
    display: flex;
    column-gap: 4px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.letter-splitter.dark {
    background-color: var(--white);
    transition: background-color 0.2s ease;
}

.letter-splitter.light {
    background-color: var(--light-blue);
    transition: background-color 0.2s ease;
}

.letter-splitter .letter {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--font-title);
}

.letter-splitter.dark .letter {
    background-color: var(--white);
    color: var(--dark-blue);
    transition: background-color 0.2s ease;
}

.letter-splitter.light .letter {
    background-color: var(--light-blue);
    color: var(--white);
    transition: background-color 0.2s ease;
}