.layout {
    padding-top: 100px;
    height: 100vh;
}

.layout.dark {
    background-color: var(--white);
    animation: lightOff 0.05s steps(5) forwards;
}

.layout.light {
    background-color: var(--dark-blue);
    animation: lightOn 0.05s steps(5) forwards;
}

@keyframes lightOn {
    0% {
        background: #021430;
    }

    100% {
        background: rgb(244, 247, 252);
    }
}

@keyframes lightOff {
    0% {
        background: rgb(244, 247, 252);
    }

    100% {
        background: #021430;
    }
}