nav {
    position: absolute;
    width: 100%;
    height: 90px;
    padding: 10px 0;
    box-sizing: border-box;
    font-family: var(--font-title);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.75em;
    font-weight: bolder;
}

.nav-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-content ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    font-weight: 700;
    padding: 0 10px;
    align-items: center;
    height: inherit;
}

.nav-content ul li>* {
    text-decoration: none;
    padding: 20px;
    cursor: default;
    transition: color 0.3s ease;

}

.nav-content.light ul li>* {
    color: var(--black);
    font-weight: bolder;
}

.nav-content.dark ul li>* {
    color: var(--white);
}

.nav-content ul li>*:hover {
    color: var(--light-blue);

}

.nav-content .languages {
    display: flex;
    align-items: center;
    height: inherit;
}

.nav-content .languages span {
    padding: 10px 10px;
    cursor: default;
}

.nav-content.light .languages span {
    color: var(--black);
}

.nav-content.dark .languages span {
    color: var(--white);
}

.nav-content .languages span:hover {
    color: var(--light-blue);
}

/*------------------- Animations ---------------------*/

@keyframes swing-in-right-fwd {
    0% {
        -webkit-transform: rotateY(-100deg);
        transform: rotateY(-100deg);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: right;
        transform-origin: right;
        opacity: 1;
    }
}

@keyframes slide-out-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
}

@media (max-width: 360px) {

    .nav-content.close ul {
        animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }

    .nav-content ul {
        animation: swing-in-right-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        right: 0;
        top: 0px;
        position: fixed;
        flex-direction: column;
        row-gap: 50px;
        padding: 55% 90px 90px;
        z-index: var(--z-3);
        box-shadow: -8px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -8px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -8px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }

    .nav-content.light ul,
    .nav-content.light ul li,
    .nav-content.light ul li>*,
    .nav-content.light .languages,
    .nav-content.light .languages span {
        background-color: var(--white);
    }

    .nav-content.dark ul,
    .nav-content.dark ul li,
    .nav-content.darkm .languages,
    .nav-content.dark .languages span {
        background-color: var(--slate-blue);
    }

    .nav-content .languages {
        align-items: normal;
    }

}